<h2>Hello {{ username }},</h2>

<p>🎉 <strong>Congratulations!</strong> You have been approved as a tester for <strong>Satisfactory Tracker</strong>.</p>

<p>You can now log in to your account using the following credentials:</p>

<ul>
  <li><strong>📧 Email:</strong> {{ email }}</li>
  <li><strong>🔑 Temporary Password:</strong> {{ temporary_password }}</li>
</ul>

<p>
  For security reasons, you will be required to change your password upon first login.<br>
  <strong><a href="https://dev.satisfactorytracker.com/">Click here to log in</a></strong>
</p>

<p>Welcome aboard! 🎉<br>
<em>– Catalyst, Creator of Satisfactory Tracker</em></p>
