# Needed for deployment
satisfactory_tracker/node_modules
satisfactory_tracker/.env
deployment_files/.deployment_env
deployment_files/.vscode/launch.json
deployment_files/release_scripts
Droplet_Files/
venv/

# Important for Development but not needed for deployment
satisfactory_tracker/uploads
output/
backup/
data/
flask_server/app/__pycache__/
flask_server/app/logs/
flask_server/app/scripts/
flask_server/app/utils/__pycache__/
flask_server/migrations/
satisfactory_tracker/build
Check-in notes.txt
Compare_js_1.js
Compare_js_2.js
Compare_ps1_1.ps1
Compare_ps1_2.ps1
Compare_py_1.py
Compare_py_2.py
CHANGELOGS/
USEFUL_STUFF/
my_rsync_test/
deployment_files/build_logs
deployment_files/LaunchNPP_Monitor.ahk
deployment_files/deploy_to_droplet release_script.ps1
deployment_files/test_harness/.deployment_test_env
deployment_files/Delete-GitTestTagRange.ps1
